In [1]:
import pandas as pd

In [27]:
icustays = pd.read_csv('icustays.csv', names=['stay', 'icustay_id'], dtype='str', header=None, skiprows=1)
mortality = pd.read_csv('results.csv')

In [28]:
icustays.head()

                            stay icustay_id
0    816_episode1_timeseries.csv     233505
1  87907_episode1_timeseries.csv     278104
2   6368_episode1_timeseries.csv     237189
3  74852_episode1_timeseries.csv     256276
4  76219_episode1_timeseries.csv     266460

In [29]:
mortality.head()

                            stay  prediction  y_true
0    816_episode1_timeseries.csv    0.094383       0
1  87907_episode1_timeseries.csv    0.004576       0
2   6368_episode1_timeseries.csv    0.011570       0
3  74852_episode1_timeseries.csv    0.004926       0
4  76219_episode1_timeseries.csv    0.315559       1

In [30]:
episodes = pd.merge(icustays, mortality, how='outer', on='stay')[['stay', 'icustay_id']]

In [31]:
episodes.head()

                            stay icustay_id
0    816_episode1_timeseries.csv     233505
1  87907_episode1_timeseries.csv     278104
2   6368_episode1_timeseries.csv     237189
3  74852_episode1_timeseries.csv     256276
4  76219_episode1_timeseries.csv     266460

In [44]:
listfile = pd.concat([icustays['icustay_id'], mortality['prediction'], mortality['y_true']], ignore_index=True, axis=1)

In [45]:
listfile.columns = ['icustay_id', 'prediction', 'y_true']

In [46]:
listfile.head()

  icustay_id  prediction  y_true
0     233505    0.094383       0
1     278104    0.004576       0
2     237189    0.011570       0
3     256276    0.004926       0
4     266460    0.315559       1

In [47]:
listfile.to_csv('predictions.csv', index=False)